@media (min-width: 960px){
.chrome .col-lg-0,
.chrome .col-lg-1,
.chrome .col-lg-2,
.chrome .col-lg-3,
.chrome .col-lg-4,
.chrome .col-lg-5,
.chrome .col-lg-6,
.chrome .col-lg-7,
.chrome .col-lg-8,
.chrome .col-lg-9,
.chrome .col-lg-10,
.chrome .col-lg-11,
.chrome .col-lg-12 {
    height: 0px;
}
}

.chrome .owl-carousel.owl-loaded.owl-height-forced{
height: 0px;
}

@media (max-width: 959px) and (min-width: 570px){
html.chrome:not(.ie):not(.firefox) .main-container .cols-md-responsive {
    height: 0px !important;
}
}
